<ion-content
  class="container-login-page"
  color="background: linear-gradient(to top, #1a2980, #26d0ce);"
>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="container-logo">
          <ion-img src="./../../assets/logo.png" class="logo"></ion-img>
        </div>
      </ion-col>
    </ion-row>

    <ion-card class="card-login">
      <ion-card-title class="ion-padding-top ion-text-center">
        <ion-text color="secondary">Forgot Password</ion-text>
      </ion-card-title>

      <ion-card-content>
        <form [formGroup]="form">
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Email</ion-label>
            <ion-input
              type="email"
              formControlName="email"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="form.get('email').hasError('required') && (!form.get('email').pristine || form.get('email').dirty || form.get('email').touched)"
            class="error-msg"
          >
            Email is required
          </div>
        </form>
        <br />

        <ion-row>
          <ion-col>
            <ion-button
              class="register"
              color="secondary"
              [disabled]="!form.valid"
              (click)="onGeneratePasswordResetLink(form)"
              >Sent</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
