<ion-content
  class="container-login-page"
  color="background: linear-gradient(to top, #1a2980, #26d0ce);"
>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="container-logo">
          <ion-img src="./../../assets/logo.png" class="logo"></ion-img>
        </div>
      </ion-col>
    </ion-row>

    <ion-card class="card-login">
      <ion-card-title class="ion-padding-top ion-text-center">
        <ion-text color="secondary">RESET PASSWORD</ion-text>
      </ion-card-title>

      <ion-card-content>
        <form [formGroup]="form">
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Old Password</ion-label>
            <ion-input
              type="password"
              formControlName="oldPassword"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="form.get('oldPassword').hasError('required') && (!form.get('oldPassword').pristine || form.get('oldPassword').dirty || form.get('oldPassword').touched)"
            class="error-msg"
          >
            Old password is required
          </div>

          <ion-item class="ion-no-padding">
            <ion-label position="floating">New Password</ion-label>
            <ion-input
              type="password"
              formControlName="newPassword"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="form.get('newPassword').hasError('required') && (!form.get('newPassword').pristine || form.get('newPassword').dirty || form.get('newPassword').touched)"
            class="error-msg"
          >
            New password is required
          </div>
          <div
            *ngIf="form.get('newPassword').hasError('pattern') && (!form.get('newPassword').pristine || form.get('newPassword').dirty || form.get('newPassword').touched)"
            class="error-msg"
          >
            New Password pattern is invalid
          </div>

          <ion-item class="ion-no-padding">
            <ion-label position="floating">Confirm password</ion-label>
            <ion-input
              type="password"
              formControlName="confirmPassword"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="form.get('confirmPassword').hasError('required') && (!form.get('confirmPassword').pristine || form.get('confirmPassword').dirty || form.get('confirmPassword').touched)"
            class="error-msg"
          >
            Confirm password is required
          </div>
          <div
            *ngIf="form.getError('mismatchedPasswords') && (!form.get('confirmPassword').pristine || form.get('confirmPassword').dirty || form.get('confirmPassword').touched)"
            class="error-msg"
          >
            Confirm password not match.
          </div>

          <div
            *ngIf="form.getError('invalidCredentiales') && !form.valid"
            class="error-msg"
          >
            Please enter valid credentiales
          </div>
        </form>

        <br />

        <ion-row>
          <ion-col>
            <ion-button
              class="register"
              color="secondary"
              [disabled]="!form.valid"
              (click)="onChangePassword(form)"
              >Reset</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
