<ion-content class="container-login-page" color="background: linear-gradient(to top, #1a2980, #26d0ce);">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="container-logo">
          <ion-img src="./../../assets/logo.png" class="logo"></ion-img>
        </div>
      </ion-col>
    </ion-row>

    <ion-card class="card-login">
      <ion-card-title class="ion-padding-top ion-text-center">
        <ion-text color="secondary">SIGN IN</ion-text>
      </ion-card-title>

      <ion-card-content>
        <form [formGroup]="form" #loginForm="ngForm">
          <!-- <ion-item class="ion-no-padding">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" autocomplete formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="form.controls['email'].errors && (!form.controls['email'].pristine || form.controls['email'].dirty || form.controls['email'].touched)" class="error-msg">
            <div [hidden]="!form.controls['email'].errors.required">Email is required</div>
          </div> -->

          <ion-item class="ion-no-padding">
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" autocomplete formControlName="userName"></ion-input>
          </ion-item>
          <div
            *ngIf="form.get('userName').hasError('required') && (!form.get('userName').pristine || form.get('userName').dirty || form.get('userName').touched)"
            class="error-msg">
            Username is required
          </div>
  
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" autocomplete formControlName="password"></ion-input>
          </ion-item>
          <div
            *ngIf="form.get('password').hasError('required') && (!form.get('password').pristine || form.get('password').dirty || form.get('password').touched)"
            class="error-msg">
            Password is required
          </div>

          <div *ngIf="form.getError('invalidCredentiales') && !form.valid" class="error-msg">
              Please enter valid credentiales
          </div>
        </form>
       
        <br>

        <ion-title color="secondary" class="forgot-password">Forgot password?</ion-title>
        <br>

        <ion-row>
          <ion-col>
            <ion-button
            class="login"
            color="secondary"
            [disabled]="!form.valid"
            (click)="onLogin(form)"
            >
              Login
            </ion-button> 
          </ion-col>

          <ion-col>
            <ion-button
              [routerLink]="['/register']"
              color="light"
              class="register ion-float-right"
              >
                Register <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        
        <br>
        <ion-row>
          <ion-col>
            <ion-fab-button color="danger">
              <ion-icon name="logo-instagram"></ion-icon>
            </ion-fab-button>
          </ion-col>

          <ion-col>
            <ion-fab-button color="secondary">
              <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
          </ion-col>

          <ion-col>
            <ion-fab-button color="primary">
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
          </ion-col>

          <ion-col>
            <ion-fab-button color="danger">
              <ion-icon name="logo-google"></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>

