<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="task">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Task</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistic">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="clasament">
      <ion-icon name="rocket"></ion-icon>
      <ion-label>Clasament</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
